body {
	min-width: 630px;
}
#container {
	padding-left: 200px;
	padding-right: 190px;
	min-height: 500px;
}
#container .column {
	position: relative;
	float: left;
}
#center {
	padding: 10px 20px;
	width: 100%;
}
#left {
	width: 180px;
	padding: 0 10px;
	right: 240px;
	margin-left: -100%;
	min-height: 400px
}
#right {
	width: 130px;
	padding: 0 10px;
	margin-right: -100%;
	min-height: 400px
}
#footer {
	clear: both;
}
/* IE hack */
* html #left {
	left: 150px;
}
/* Make the columns the same height as each other */
#container {
	overflow: hidden;
}
#container .column {
	padding-bottom: 1001em;
	margin-bottom: -1000em;
}
#info {
    font-size: large;
}
#support {
	position: relative;
	bottom: -100px
}
/* Fix for the footer */
* html body {
	overflow: hidden;
}
* html #footer-wrapper {
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	background: #fff;
}
/* Aesthetics */
body {
	margin: 0;
	padding: 0;
	font-family: Sans-serif;
	line-height: 1.5em;
}
p {
	color: #212121;
}
h1 {
	color: #212121;
}
h3 {
	color: #212121;
}
h4 {
	color: #ffffff;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav ul a {
	color: #009688;
	text-decoration: none;
}
#footer {
	font-size: large;
	color: #212121;
	padding: 0.3em;
	background: #757575;
}
#header {
	font-size: xx-large;
	padding: 0.2em;
	background: #00796B;
}
#left {
	background: #B2DFDB;
}
#right {
	background: #B2DFDB;
}
#center {
	background: #ffffff;
}
#container .column {
	padding-top: 1em;
}
#text {
	color: #FFFFFF;
}