<!DOCTYPE html>
<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>unConventionalMe</title>
	<link rel="stylesheet" href="../static/style.css">	
</head>

<body>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    <script type="text/javascript">var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript">
        $(function() {
        var submit_form = function(e) {
        $.getJSON($SCRIPT_ROOT + '/material', {
            mat: $('input[name="material"]').val()
            },
        function(data) {
            $('#result').text(data.result);
            $('input[name=a]').focus().select();
        });
        return false;
        };

        $('a#calculate').bind('click', submit_form);

        $('input[type=text]').bind('keydown', function(e) {
        if (e.keyCode == 13) {
            submit_form(e);
        }
        });

        $('input[name=a]').focus();
    });
    </script>
    <form action="/material" method="POST">
    <p><a href=# id="calculate"></a></p>
    </form>

</body>
</html>