<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>unConventional Projects</title>
</head>
<script type="text/javascript">
    $(window).bind("pageshow", function () {
        var form = document.getElementById("title");
        // let the browser natively reset defaults
        form.reset();
    });
</script>
<body>
<div id="container">
    <div class="title">
        <img src="data:image/png;base64,{{ stress3 }}" width="720px" align="middle">
        <br>
    </div>

</div>
</body>
</html>