 <html>
    <head>
        <title>Solution</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Solution</h1>
            </div>
            <div id="content">
                System              :<strong>{{sys}}</strong><br>
                Stiffness	        :<strong>{{name}}</strong><br>
				Mass		        :{{email}}<br>
				Damping Coefficient :{{dc}}<br>
				Natural Freq.{{w}}  <br>
            </div>

            </div>
        </div>
        <img src="https://www.pythonanywhere.com/user/GeoZac/files/home/GeoZac/mysite/run.png" width="720">
    </body>
</html>
